<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nova.royalrideapp">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo6"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo6"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.ViewModel.Users.Cars.ChangeImagesActivity"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.ViewModel.Main.LiveChatActivity"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.RequestUserPermissions"
            android:exported="false" />

        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.ViewModel.Users.ui.TripInfoWithMapActivity"
            android:exported="true"
            android:label="@string/title_activity_trip_info_with_map" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.ViewModel.Users.ui.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.MainActivity"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.ViewModel.Users.ui.TripInfoActivity"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.ViewModel.Notifications.ui.NotificationsActivity"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.ViewModel.Users.ui.MyTripsActivity"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.ViewModel.Wallet.ui.WalletActivity"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.ViewModel.Main.ContactUsActivity"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.ViewModel.Users.Cars.AddNewCarActivity"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.ViewModel.Users.Cars.MyCarsActivity"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.ViewModel.Users.ui.ProfileActivity"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.ViewModel.Main.MapsActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:label="@string/title_activity_maps" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.ViewModel.Main.Dashboard2Activity"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.ViewModel.Main.DashboardActivity"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.ViewModel.Users.ui.LoginActivity"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.ViewModel.Users.ui.VerifyPhoneActivity"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.ViewModel.Users.ui.RegisterActivity"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nova.royalrideapp.ViewModel.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:enabled="true"
            android:exported="true"
            android:process=":ServiceProcess"
            android:name = ".MyBackgroundService"/>

        <receiver
            android:name=".RestartBackgroundService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo5" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="1234" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <service android:name="com.nova.royalrideapp.SimpleService" />
    </application>

</manifest>